<form [formGroup]="hiveForm" (ngSubmit)="onSubmit()">
  <app-card-container>
    <h2 class="mat-h2">Bienenschwarm melden</h2>
    <mat-card-content>
      <mat-accordion multi="true">
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Angaben zum Bienenschwarm
            </mat-panel-title>
          </mat-expansion-panel-header>
          <h3 class="mat-h3">Photo</h3>
          <img
            id="preview"
            *ngIf="selectedPhoto"
            [src]="selectedPhotoBlob"
            alt="Vorschaubild"
          />
          <input 
            #uploadField 
            type="file" 
            name="photo" 
            hidden="true"
            accept="image/*"
            capture="camera"
            (change)="onSelectPhoto(uploadField)"
          />
          <button
            type="button"
            mat-button
            color="primary"
            class="form-field"
            (click)="onTakePhoto(uploadField)"
          >
            Photo aufnehmen
          </button>
          <h3 class="mat-h3">Standort</h3>
          <app-geolocation-picker (newLocation)="onNewLocation($event)"></app-geolocation-picker>
        </mat-expansion-panel>
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Persönliche Angaben
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="Name"
              name="name"
              formControlName="name"
              required
            />
            <mat-error *ngIf="hiveForm.get('name').hasError('required')">
              Bitte Namen angeben
            </mat-error>
          </mat-form-field>

          <app-address-form [parentForm]="hiveForm"></app-address-form>

          <mat-form-field>
            <input
              matInput
              type="email"
              placeholder="E-Mail"
              name="email"
              formControlName="email"
              required
            />
            <mat-error
              *ngIf="
                hiveForm.get('email').hasError('email') &&
                !hiveForm.get('email').hasError('required')
              "
            >
              Bitte gültige E-Mail-Adresse angeben
            </mat-error>
            <mat-error *ngIf="hiveForm.get('email').hasError('required')">
              Bitte E-Mail-Adresse angeben
            </mat-error>
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
    <mat-card-actions>
      <a routerLink=""
        ><button
          type="button"
          mat-button
          color="secondary"
          [attr.disabled]="!loading"
        >
          Abbrechen
        </button></a
      >
      <mat-progress-spinner
        *ngIf="loading"
        diameter="26"
        [mode]="uploadProgress ? 'determinate' : 'indeterminate'"
        [value]="uploadProgress | async"
      ></mat-progress-spinner>
      <button mat-button color="primary" [attr.disabled]="!submitted">
        Absenden
      </button>
    </mat-card-actions>
  </app-card-container>
</form>
