mat-card-content {
  mat-form-field {
    width: 100%;
    margin-bottom: 1em;
  }
  .card-header {
    text-align: center;
  }
}

mat-card-actions {
  display: flex;
  justify-content: center;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
}
