<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <app-card-container>
    <h2 class="mat-h2">Anmelden</h2>
    <mat-card-content>
      <mat-form-field>
        <input
          matInput
          placeholder="E-Mail"
          type="text"
          formControlName="email"
          autocomplete="off"
          autofocus
          required
        />
        <mat-error
          *ngIf="
            loginForm.get('email').hasError('email') &&
            !loginForm.get('email').hasError('required')
          "
        >
          Bitte gültige E-Mail-Addresse angeben.
        </mat-error>
        <mat-error *ngIf="loginForm.get('email').hasError('required')">
          Bitte E-Mail-Addresse angeben.
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <input
          matInput
          placeholder="Passwort"
          type="password"
          formControlName="password"
          [type]="hide ? 'password' : 'text'"
          autocomplete="off"
          required
        />
        <mat-icon matSuffix (click)="hide = !hide">{{
          hide ? "visibility" : "visibility_off"
        }}</mat-icon>
        <mat-error *ngIf="loginForm.get('password').hasError('required')">
          Bitte Passwort eingeben.
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-button
        color="primary"
        [disabled]="loginForm.invalid"
      >
        Anmelden
      </button>
    </mat-card-actions>
  </app-card-container>
</form>
