<form [formGroup]="registerForm">
  <app-card-container>
    <h2 class="mat-h2">Als Imker registrieren</h2>
    <mat-card-content>
      <mat-form-field>
        <input
          matInput
          placeholder="Vorname"
          type="text"
          formControlName="firstname"
          autocomplete="off"
          autofocus
          #namefocus="matInput"
          required
        />
        <mat-error *ngIf="registerForm.get('firstname').hasError('required')">
          Geben Sie bitte Ihren Vornamen ein!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Nachname"
          type="text"
          formControlName="surname"
          autocomplete="off"
          required
        />
        <mat-error *ngIf="registerForm.get('surname').hasError('required')">
          Geben Sie bitte Ihren Nachnamen ein!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Strasse"
          type="text"
          required
          formControlName="streetname"
          autocomplete="off"
        />
        <mat-error
          *ngIf="
            registerForm.get('streetname').hasError('pattern') &&
            !registerForm.get('streetname').hasError('required')
          "
        >
          Bitte geben Sie einen gültige Strasse ohne Nummer ein!
        </mat-error>
        <mat-error *ngIf="registerForm.get('streetname').hasError('required')">
          Strasse wird
          <strong>benötigt!</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Strassen Nr."
          type="text"
          required
          formControlName="streetnr"
        />
        <mat-error
          *ngIf="
            registerForm.get('streetnr').hasError('pattern') &&
            !registerForm.get('streetnr').hasError('required')
          "
        >
          Bitte geben Sie eine gültige Strassen Nr. ein!
        </mat-error>
        <mat-error *ngIf="registerForm.get('streetnr').hasError('required')">
          Strassen Nr. wird
          <strong>benötigt!</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Postleitzahl"
          type="text"
          required
          formControlName="postcode"
        />
        <mat-error
          *ngIf="
            registerForm.get('postcode').hasError('pattern') &&
            !registerForm.get('postcode').hasError('required')
          "
        >
          Bitte geben Sie eine gültige Postleitzahl ein!
        </mat-error>
        <mat-error *ngIf="registerForm.get('postcode').hasError('required')">
          Postleitzahl wird
          <strong>benötigt!</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Ort"
          type="text"
          required
          formControlName="place"
        />
        <mat-error
          *ngIf="
            registerForm.get('place').hasError('pattern') &&
            !registerForm.get('place').hasError('required')
          "
        >
          Bitte geben Sie einen gültigen Ort ein!
        </mat-error>
        <mat-error *ngIf="registerForm.get('place').hasError('required')">
          Ort wird
          <strong>benötigt!</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Land"
          type="text"
          required
          formControlName="country"
        />
        <mat-error
          *ngIf="
            registerForm.get('country').hasError('pattern') &&
            !registerForm.get('country').hasError('required')
          "
        >
          Bitte geben Sie ein gültiges Land ein!
        </mat-error>
        <mat-error *ngIf="registerForm.get('country').hasError('required')">
          Land wird
          <strong>benötigt!</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Email"
          type="text"
          formControlName="email"
          autocomplete="off"
          required
        />
        <mat-error
          *ngIf="
            registerForm.get('email').hasError('email') &&
            !registerForm.get('email').hasError('required')
          "
        >
          Bitte geben Sie eine gültige Email ein!
        </mat-error>
        <mat-error *ngIf="registerForm.get('email').hasError('required')">
          Email wird
          <strong>benötigt!</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Passwort"
          type="password"
          formControlName="password"
          [type]="hide ? 'password' : 'text'"
          autocomplete="off"
          required
        />
        <mat-icon matSuffix (click)="hide = !hide">{{
          hide ? "visibility" : "visibility_off"
        }}</mat-icon>
        <mat-error *ngIf="registerForm.get('password').hasError('required')">
          Passwort wird
          <strong>benötigt!</strong>
        </mat-error>
      </mat-form-field>
      <mat-card-actions>
        <button
          mat-raised-button
          [disabled]="registerForm.invalid"
          (click)="onSubmit()"
          style="float: right;"
        >
          Registrieren
        </button>
      </mat-card-actions>
    </mat-card-content>
  </app-card-container>
</form>
