#zip-and-place {
  display: flex;

  .zip-form-field {
    width: 4em;
    margin-right: 1em;
  }
}

#zip-and-place + mat-error {
  margin-top: -1.2em;
}

mat-form-field {
  width: 100%;
}

.form-field {
  margin-bottom: 1.25em;
}