:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-card {
  width: 100%;
  max-width: 20rem;

  .card-header {
    text-align: center;
  }

  mat-card-content {
    padding: 1rem 0 0 0;

    button {
      display: block;
      width: 100%;

      &:not(:last-child) {
        margin: 0 0 0.5rem 0;
      }
    }
  }
}