.card-header {
  text-align: center;
}

.mat-h4 {
  color: #c90;
}

mat-card-content {
  padding: 1rem 0 0 0;

  a, button {
    display: block;
    width: 100%;
  }

  a:not(:last-child) {
    margin: 0 0 0.5rem 0;
  }
}
