:host {
  display: flex;
  flex-direction: column;
}

a {
  color: #ffffff;
}

main {
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  /deep/ router-outlet + * {
    width: 100%;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }
}
